html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: #F0F2F4;
}

.main-content {
  display: grid;
  grid-template: 'menu content' 100vh / 0.25fr auto;
  gap: 1em;
  margin: 1em;
}

.brand-link {
  background-color: white;
}

.navbar-item,
.navbar-link {
  color: white;
}

.is-funcui {
  background-color: #643580;
  color: white;
}

.post {
  display: table;
}

.guide {
  display: table;
}

.post .post-header {
  text-align: center
}

.post-content {
  padding-top: 1em;
}

.blog .blog-header {
  text-align: center;
}

.guide-content .number,
.post-content .number {
  align-items: unset;
  background-color: unset;
  border-radius: unset;
  display: unset;
  font-size: unset;
  height: unset;
  justify-content: unset;
  margin-right: unset;
  min-width: unset;
  padding: unset;
  text-align: unset;
  vertical-align: unset;
}
