html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: #F0F2F4;
}

.main-content {
  display: grid;
  grid-template: 'menu content' minmax(100vh, 1fr) / 0.25fr 0.75fr;
  gap: 1em;
  margin: 1em;
  grid-auto-flow: dense;
}

.about {
  display: grid;
  grid-template: 
    'aboutheader aboutheader' auto
    'left right' auto / 1fr 1fr;
  gap: 1em;
  margin: 1em;
  grid-auto-flow: dense;
}

@media screen and (max-width: 1023px) {
  .main-content {
    grid-template: 'content' minmax(0, 1fr) / minmax(0, 1fr);
  }
}

@media screen and (max-width: 1023px) {
  .navbar.is-fixed-top .navbar-menu, .navbar.is-fixed-top-touch .navbar-menu {
    background-color: #643580;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .about {
    grid-template:
      'aboutheader' auto
      'left' auto 
      'right' / auto;
  }
}

.about-header {
  grid-area: aboutheader;
}

.about .left {
  grid-area: left;
}

.about .right {
  grid-area: right;
}

.link-list-item {
  font-size: 1.5em;
}

.main-footer {
  background-color: #e8e8e8;
}

.navbar-burger {
  background-color: #643580;
  color: white;
}

.page-content {
  grid-area: content;
}

.brand-link {
  background-color: white;
}

.navbar-item,
.navbar-link {
  color: white;
}

.is-funcui {
  background-color: #643580;
  color: white;
}

  .is-funcui
  .navbar-item.is-active:not(:focus):not(:hover) {
    background-color: #F0F2F4;
    color: #A9A9A9;
  }

.post .post-header {
  text-align: center
}

.post-content {
  padding-top: 1em;
}

.blog .blog-header {
  text-align: center;
}

.release-note .release-note-header {
  text-align: center
}

.release-notes .release-notes-header {
  text-align: center
}

.control .control-header {
  text-align: center
}

.guide-content .number,
.post-content .number,
.release-note-content .number,
.index-content .number,
.control-content .number{
  align-items: unset;
  background-color: unset;
  border-radius: unset;
  display: unset;
  font-size: unset;
  height: unset;
  justify-content: unset;
  margin-right: unset;
  min-width: unset;
  padding: unset;
  text-align: unset;
  vertical-align: unset;
}
