html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: #F0F2F4;
}

.main-content {
  display: grid;
  grid-template: 'menu content' 100vh / 0.25fr auto;
  gap: 1em;
  margin: 1em;
}

.post {
  display: table;
}

.post .post-header {
  text-align: center
}

.post-content {
  padding-top: 1em;
}
