name: Build and test

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: |
          6.0.x
          7.0.x
    - name: Restore dependencies
      run: dotnet restore src/Avalonia.FuncUI.sln
    - name: Build
      run: dotnet build src/Avalonia.FuncUI.sln --no-restore
    - name: Test
      run: dotnet test src/Avalonia.FuncUI.sln --no-build --verbosity normal

      
